.img-responsive{
    position:absolute;
    background:url('Images/D6EBnWJ.jpeg');
    background-repeat:no-repeat;
    // background-size: cover;
    height:600px;
    margin-right: -40px;
    margin-left: -40px;
}

.greeting{
	font-family: 'Original Surfer', cursive;
}