

<div class = "welcome-msg">
	<h1 class="greeting">Welcome to the Philly HALALBLOG!</h1>
</div>	


<img class="home-pic" src = "Images/D6EBnWJ.jpeg">


  	<div class="feed" align="center">
  		<h2 class="feedheader">What's New...</h2>
	  
	  <% @posts.each do |post| %>
 	   	<p id="post_name"> <%= post.user.username if post.user %></p>
 		    <p id="post_display"> <%= post.content %></p>
  		<% end %>
  
  	</div>


