<h1> Log in failed, please try again </h1>

<div id="login">
	<h3>Log In</h3>
	<h6>Welcome back!</h6>
	<form method="POST" action="/log_in">
		<label for="email">email</label>
		<input type="text" name="email">
		<br>
		<label for="password">Password</label>
		<input type="password" name="password">
		<br>
		<input class="button" type="submit" value="Log In">
		<br>
	</form>
</div>
