<form method="POST" action="/login">
	<label for="email">email:</label>
	<input type="text" name="email">
	<label for="password">password:</label>
	<input type="text" name="password">
	<input type="submit">
</form>	
