<div class="container">
	<div id="signup">
		<h3>Sign Up for The Blog!</h3>
		<form method="POST" action="/sign_up">
			<label for="username">Create Username</label>
			<input type="text" name="username">
			<br>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<label for="email">Enter Email</label>
			<input type="text" name="email">
			<br>
			<label for="password">Choose Password</label>
			<input type="password" name="password">
			<br>
			<input class="submit_button" type="submit" value="Sign Up">
			<br>
		</form>
	</div>
<img class="halal-truck" src="Images/truck.jpeg">