<h1> Sign up failed, please try again </h1>

<div id="signup">
	<h3>Sign Up</h3>
	<form method="POST" action="/sign_up">
		<label for="username">Create Username</label>
		<input type="text" name="username">
		<br>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
		<label for="email">Enter Email</label>
		<input type="text" name="email">
		<br>
		<label for="password">Choose Password</label>
		<input type="password" name="password">
		<input class="button" type="submit" value="Sign Up">
		<br>
	</form>
</div>