<h1><%= @user.name %>'s Posts</h1>


<h2><%= @user.email%> </h2>

<h3>Delete User?</h3>
<form method="POST" action="/users/<%=@user.id %>/delete">
<input type ="submit" value="Please delete my profile">
</form>	